html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

.body-container {
  background-color: #FFEF00;
  box-sizing: border-box;
  min-height: 100vh;
  padding-bottom: 170px;
  position: relative;
}

.body-container .image-container {
  margin: 0 auto;
  position: relative;
  width: 60%;
}

.body-container .image-container img {
  position: absolute;
}

.body-container .image-container .syuwa {
  transform: translate(-50%, 0%);
  left: 50%;
  top: 200px;
  width: 500px;
}

.body-container .image-container .bowling_f {
  right: 0;
}

.body-container .image-container .dance_f {
  bottom: -325px;
  right: -30px;
}

.body-container .image-container .flying_f {
  bottom: -330px;
}

.body-container .image-container .fusen_f {
  left: -55px;
  bottom: -210px;
}

.body-container .image-container .kamicup_f {
  bottom: -350px;
  left: -120px;
}

.body-container .image-container .otedama_f {
  right: -75px;
  bottom: -215px;
}

.body-container .image-container .tamaire_f {
  left: 70px;
}

.body-container .image-container .waiwai {
  width: 180px;
  bottom: -2758px;
  right: -40px;
}

.body-container-white {
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100vh;
  padding-bottom: 170px;
  position: relative;
}

.body-container-white .breadcrumb {
  background-color: initial;
  position: absolute;
  top: 115px;
}

header {
  background-color: #00AAEA;
  height: 64px;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

header .header-title {
  float: left;
  margin-left: 8px;
  margin-top: 8px;
}

header .header-title a {
  color: #fff;
}

header .header-title .header-title-1 {
  font-size: 12px;
  margin: 0;
}

header .header-title .header-title-2 {
  font-size: 24px;
  margin: 0;
}

header .header-nav {
  text-align: center;
  float: left;
  font-size: 0;
  margin-left: -24px;
  margin-top: 20px;
  list-style-type: none;
}

header .header-nav li {
  display: inline-block;
  margin-left: 36px;
  font-size: 14px;
}

header .header-nav li a {
  color: #fff;
}

header .header-button {
  float: right;
  margin-right: 8px;
}

.page-header-wrap {
  margin-top: 64px;
}

.page-header-wrap .page-header {
  width: 100%;
  height: 140px;
  margin-bottom: 32px;
  background: linear-gradient(45deg, #FFF664 25%, transparent 25%, transparent 75%, #FFF664 75%), linear-gradient(45deg, #FFF664 25%, transparent 25%, transparent 75%, #FFF664 75%);
  background-color: #FFEF00;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.page-header-wrap .page-header h3 {
  font-size: 28px;
  font-weight: bold;
  line-height: 5;
  margin: 0;
  text-align: center;
}

.page-header-line {
  width: 100%;
  height: 20px;
  background: linear-gradient(45deg, #00AAEA 25%, transparent 25%, transparent 75%, #00AAEA 75%), linear-gradient(45deg, #00AAEA 25%, transparent 25%, transparent 75%, #00AAEA 75%);
  background-color: #FFEF00;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.page-header-wrap-blue {
  margin-top: 64px;
}

.page-header-wrap-blue .page-header {
  width: 100%;
  height: 600px;
  margin-bottom: 32px;
  background: linear-gradient(45deg, #CBEAF8 25%, transparent 25%, transparent 75%, #CBEAF8 75%), linear-gradient(45deg, #CBEAF8 25%, transparent 25%, transparent 75%, #CBEAF8 75%);
  background-color: #BFE4F8;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.page-header-wrap-blue .page-header h3 {
  font-size: 28px;
  font-weight: bold;
  line-height: 5;
  margin: 0;
  text-align: center;
}

.page-header-wrap-blue .page-header-rule {
  height: 100px;
}

.page-header-wrap-blue .page-header-line {
  width: 100%;
  height: 20px;
  background: linear-gradient(45deg, #00AAEA 25%, transparent 25%, transparent 75%, #00AAEA 75%), linear-gradient(45deg, #00AAEA 25%, transparent 25%, transparent 75%, #00AAEA 75%);
  background-color: #BFE4F8;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.page-header-wrap-green {
  margin-top: 64px;
}

.page-header-wrap-green .page-header {
  width: 100%;
  height: 140px;
  margin-bottom: 32px;
  background: linear-gradient(45deg, #C1EECE 25%, transparent 25%, transparent 75%, #C1EECE 75%), linear-gradient(45deg, #C1EECE 25%, transparent 25%, transparent 75%, #C1EECE 75%);
  background-color: #B2EBC4;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.page-header-wrap-green .page-header h3 {
  font-size: 28px;
  font-weight: bold;
  line-height: 5;
  margin: 0;
  text-align: center;
}

.page-header-wrap-green .page-header-line {
  width: 100%;
  height: 20px;
  background: linear-gradient(45deg, #00AAEA 25%, transparent 25%, transparent 75%, #00AAEA 75%), linear-gradient(45deg, #00AAEA 25%, transparent 25%, transparent 75%, #00AAEA 75%);
  background-color: #B2EBC4;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumb li {
  display: inline;
  list-style: none;
}

.breadcrumb li:after {
  content: ">";
  padding: 0 0.2em;
  color: #555;
}

.breadcrumb li:last-child:after {
  content: "";
}

.title-wrapper {
  margin-top: 10px;
  padding-top: 64px;
  color: #0068B6;
  text-align: center;
}

.title-wrapper .titile-1 {
  font-size: 64px;
}

.title-wrapper .title-2 {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 150px;
}

.title-wrapper img {
  width: 650px;
}

.content-wrap {
  background-color: #fff;
  border-radius: 15px;
  margin: 42px auto;
  padding: 48px 24px 24px;
  height: 250px;
  width: 55%;
  position: relative;
  display: block;
}

.content-wrap .btn-blue {
  display: inline-block;
  padding: 16px 24px;
  background: #0068B6;
  border-bottom: solid 4px #004F85;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.2em;
  transition: 0.1s;
  width: 150px;
  text-align: center;
}

.content-wrap .btn-blue:hover {
  border-bottom: none;
  transform: translateY(4px);
}

.content-wrap .happyo {
  overflow: hidden;
}

.content-wrap .happyo .happyo-title {
  float: left;
}

.content-wrap .happyo .happyo-title p {
  background-color: #019844;
  color: #fff;
  padding: 3px;
}

.content-wrap .happyo .happyo-main {
  padding-left: 70px;
}

.content-wrap .happyo .happyo-main p {
  font-weight: bold;
  height: 24px;
  line-height: 2;
  margin-bottom: -0.5rem;
}

.content-title {
  position: absolute;
  width: 245px;
  left: calc(50% - 246px/2);
  top: -16px;
}

.content-title .content-title-2 {
  font-size: 18px;
  text-align: center;
}

.content-title .content-title-2 div {
  background: #019844;
  color: #fff;
  height: 40px;
  position: relative;
}

.content-title .content-title-2 p {
  line-height: 2;
  margin-top: 3px;
  border-top: 1px solid #FFF;
  margin-bottom: 3px;
  border-bottom: 1px solid #fff;
  position: absolute;
  height: 34px;
  right: 0px;
  width: 100%;
}

.content-title .content-title-2 div:before,
.content-title .content-title-2 div:after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  z-index: 1;
}

.content-title .content-title-2 div:before {
  top: 0;
  left: 0;
  border-width: 22px 0px 18px 19px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.content-title .content-title-2 div:after {
  top: 0;
  right: 0;
  border-width: 22px 19px 18px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

.twitter {
  margin-top: 100px;
}

.twitter .content-title {
  top: 1510px;
}

.twitter .content-title div:before {
  border-color: transparent transparent transparent #FFEF00;
}

.twitter .content-title div:after {
  border-color: transparent #FFEF00 transparent transparent;
}

.content-wrap-2 .title {
  font-size: 21px;
  font-weight: bold;
  color: #019844;
  border-bottom: solid #fff;
  width: 55%;
  margin: 40px auto 12px;
}

.content-wrap-2 a {
  font-size: 14px;
  color: #000;
}

.try-wrap {
  margin: auto;
  width: 70%;
  border: solid #3585C4;
  border-radius: 10px;
  margin: 24px auto;
  padding: 32px;
}

.try-wrap .btn-red {
  background: #DC3546;
}

.try-wrap .btn-blue {
  background: #0068B6;
}

.try-wrap .btn {
  display: inline-block;
  padding: 16px 24px;
  border-bottom: solid 4px #004F85;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.2em;
  transition: 0.1s;
  width: 200px;
  text-align: center;
}

.try-wrap .btn:hover {
  color: #fff;
  border-bottom: none;
  transform: translateY(4px);
}

.try-form {
  margin-bottom: 18px;
}

.try-form .must {
  background-color: #E12329;
  border: solid #E12329;
  border-radius: 10px;
  color: #fff;
  margin-left: 8px;
  font-weight: 100;
  font-size: 0.2rem;
  padding: 0px 2px;
}

.try-form label {
  font-weight: bold;
  vertical-align: top;
  width: 25%;
  text-align: right;
  margin-right: 34px;
}

.try-form input {
  width: 50%;
}

.try-form p {
  text-align: left;
}

.about-wrap {
  margin: auto;
  width: 70%;
}

.about-wrap .about-title-1 {
  background-color: #019844;
  border: 1px solid;
  color: #fff;
  height: 34px;
  margin: 0 auto 12px;
  padding: 4px 2px;
  text-align: center;
}

.about-wrap .about-title-3 {
  font-weight: bold;
  margin-top: 12px;
}

.about-wrap .about-title-4 {
  float: left;
}

.about-wrap .happyo {
  overflow: hidden;
}

.about-wrap .happyo .happyo-title {
  float: left;
}

.about-wrap .happyo .happyo-main {
  padding-left: 70px;
}

.about-wrap .happyo .happyo-main p {
  height: 24px;
  line-height: 2;
  margin-bottom: 1rem;
}

.about-wrap .without-dot {
  list-style-type: none;
  margin-left: -15px;
}

.about-wrap .rule-title {
  background-color: #FFEF00;
  border: none;
  color: #000;
}

.about-wrap .rule-bold {
  font-weight: bold;
}

.about-wrap .btn-blue {
  display: inline-block;
  padding: 16px 24px;
  background: #0068B6;
  border-bottom: solid 4px #004F85;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.2em;
  transition: 0.1s;
  width: 200px;
  text-align: center;
}

.about-wrap .btn-blue:hover {
  border-bottom: none;
  transform: translateY(4px);
}

.rule-lineup {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 21px;
}

.syumoku {
  width: 70%;
  margin: 0 auto 32px;
  text-align: center;
}

.syumoku .syumoku-title {
  background-color: #019844;
  border: 1px solid;
  color: #fff;
  font-size: 32px;
  height: 38px;
  line-height: 1;
  margin: 0 auto;
  padding: 4px;
  text-align: center;
  width: 40%;
}

.syumoku .syumoku-title-blue {
  background-color: #00AAEA;
  border: 1px solid;
  color: #fff;
  font-size: 32px;
  height: 38px;
  line-height: 1;
  margin: 0 auto;
  padding: 4px;
  text-align: center;
  width: 40%;
}

.syumoku .btn-blue {
  margin-bottom: 24px;
  margin-top: 24px;
  display: inline-block;
  padding: 12px 24px;
  background: #0068B6;
  border-bottom: solid 4px #004F85;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2em;
  transition: 0.1s;
  width: 200px;
}

.syumoku .btn-blue:hover {
  border-bottom: none;
  transform: translateY(4px);
}

.music-btn {
  cursor: pointer;
  position: absolute;
  right: 70px;
  top: 45px;
}

.music-btn img {
  width: 80px;
}

.iine-wrap {
  height: 110px;
  margin-bottom: 32px;
  margin-top: -5px;
  background-color: #fff;
  text-align: center;
}

.iine-wrap .iine {
  display: inline-block;
  margin: 0 5%;
}

.iine-wrap .iine img {
  cursor: pointer;
  width: 50px;
}

.iine-wrap .iine img:hover {
  width: 53px;
}

.iine-wrap .iine p {
  font-size: 15px;
  font-weight: bold;
  margin-top: 8px;
  text-align: center;
}

.flag_right {
  width: 50%;
  position: absolute;
  right: 0;
  top: 620px;
}

.flag_left {
  width: 50%;
  position: absolute;
  left: 0;
  top: 620px;
}

.all-posts {
  width: 100%;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

footer .footer {
  background-color: #00AAEA;
  overflow: hidden;
  text-align: center;
  color: #fff;
}

footer .footer .footer-line {
  height: 20px;
  background: linear-gradient(45deg, #00AAEA 25%, transparent 25%, transparent 75%, #00AAEA 75%), linear-gradient(45deg, #00AAEA 25%, transparent 25%, transparent 75%, #00AAEA 75%);
  background-color: #fff;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

footer .footer .footer-line-top {
  height: 20px;
  background: linear-gradient(45deg, #00AAEA 25%, transparent 25%, transparent 75%, #00AAEA 75%), linear-gradient(45deg, #00AAEA 25%, transparent 25%, transparent 75%, #00AAEA 75%);
  background-color: #FFEF00;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

footer .footer .footer-title .kyoto {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 5px;
}

footer .footer .footer-nav {
  text-align: center;
  margin-left: -29px;
  padding-top: 12px;
  font-size: 0;
  list-style-type: none;
}

footer .footer .footer-nav li {
  display: inline-block;
  margin-left: 24px;
  font-size: 14px;
}

footer .footer .footer-nav li a {
  color: #fff;
}

table .table-reaction {
  font-size: 12px;
  height: 30%;
  padding: 0.75rem;
  width: 100%;
}

table .table-border {
  border-bottom: solid 1px;
}

table .btn-edit {
  color: #fff;
  cursor: pointer;
  margin: 4px 0px;
  display: inline-block;
  padding: 4px;
  background: #0068B6;
  border-bottom: solid 4px #004F85;
  border-left: none;
  border-top: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.2em;
  transition: 0.1s;
  text-align: center;
  width: 80px;
}

table .btn-edit:hover {
  border-bottom: none;
  border-right: none;
  transform: translateY(4px);
}

.trim-image-to-circle {
  border-radius: 50%;
  display: inline-block;
  height: 180px;
  width: 180px;
}

.fusen {
  background: url("/storage/image/fusen_lifting.png");
  background-color: #F1F9FD;
  background-position: right bottom;
  border: solid #5EC1F0;
}

.otedama {
  background: url("/storage/image/otedama_boccia.png");
  background-color: #F1F9FD;
  background-position: top;
  border: solid #5EC1F0;
}

.kamizara {
  background: url("/storage/image/flying_disc.png");
  background-color: #F1F9FD;
  border: solid #5EC1F0;
}

.kamicup {
  background: url("/storage/image/kamicup_tower.png");
  background-color: #F1F9FD;
  background-position: right bottom;
  border: solid #5EC1F0;
}

.tamaire {
  background: url("/storage/image/tamaire.png");
  background-color: #F1F9FD;
  background-position: bottom;
  border: solid #5EC1F0;
}

.bowling {
  background: url("/storage/image/bowling.png");
  background-color: #F1F9FD;
  background-position: left 25% top;
  border: solid #5EC1F0;
}

.dance {
  background: url("/storage/image/dance.png");
  background-color: #F1F9FD;
  background-position: right bottom;
  border: solid #5EC1F0;
}

.login-form {
  border: solid #3585C4;
  border-radius: 10px;
  margin: 24px auto;
  padding: 32px;
  text-align: center;
  width: 70%;
}

.login-form input {
  padding: 8px;
  width: 330px;
}

.login-form select {
  width: 300px;
  height: 37px;
  margin-bottom: 12px;
  margin-left: 24px;
}

.login-form .password {
  margin-top: 12px;
  margin-bottom: 12px;
}

.login-form .password-resset {
  margin-left: 20px;
  margin-top: 12px;
}

.login-form .password-resst-confirm {
  margin: 12px 0px 12px -12px;
}

.login-form .btn-blue {
  margin: 12px 0px;
  display: inline-block;
  padding: 8px 12px;
  background: #0068B6;
  border-bottom: solid 4px #004F85;
  border-left: none;
  color: #fff;
  border-top: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.2em;
  transition: 0.1s;
  width: 120px;
}

.login-form .btn-blue:hover {
  border-bottom: none;
  border-right: none;
  transform: translateY(4px);
}

.mypage-wrap {
  margin: 100px;
  text-align: center;
}

.mypage-wrap .btn-blue {
  margin-bottom: 24px;
  display: inline-block;
  padding: 16px 32px;
  background: #0068B6;
  border-bottom: solid 4px #004F85;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2em;
  transition: 0.1s;
  width: 300px;
}

.mypage-wrap .btn-blue:hover {
  border-bottom: none;
  transform: translateY(4px);
}

.btn-blue {
  margin: 12px 0px;
  display: inline-block;
  padding: 8px 12px;
  background: #fff;
  border-bottom: solid 4px #004F85;
  border-left: none;
  border-top: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2em;
  transition: 0.1s;
  width: 100px;
}

.btn-blue a {
  color: #00AAEA;
  font-weight: normal;
}

.btn-blue:hover {
  border-bottom: none;
  border-right: none;
  transform: translateY(4px);
}

@media screen and (max-width: 770px) {
  .header {
    height: 48px;
  }
}

@media screen and (max-width: 400px) {
  .header {
    height: 32px;
  }
}


